* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
.top a {
  text-decoration: none;
  letter-spacing: 1px;
  color: white;
  margin: 6px;
}
.top {
  background-color: black;
  text-transform: uppercase;
  padding: 7px ;
  font-size: 10px;
  text-align: center;
}
.head {
  background-color: #ffffff;
  text-align: center;
  padding: 10px;
}
h1 {
  font-family: "Didot", "Bodoni MT", "Times New Roman", serif;
  font-size: 80px;
  color: #000000;
}
.date {
  font-size: 12px;
  color: #030303;
  align-items: center;
}

.nav {
  margin: 0 25px;
  text-align: center;
  text-transform: uppercase;
  padding: 8px;
  border-top: 3px solid black;
  border-bottom: 1px solid rgb(229, 231, 235);
}
.nav a {
  text-decoration: none;
  color: black;
  margin: 10px;
  font-size: 11px;
}

#img {
  width: 14px;
  height: 14px;
  align-self: right;
}
#input {
  border-style: none;
  border-radius: 0;
  width: 100px;
  height: 20px;
}
label {
  text-align: end;
  margin-left: 10%;
}

.para {
  display: flex;
  margin: 0 30px;
  overflow: auto;
  scrollbar-width: thin;
  min-height: 100px;
  max-height: 1730px;
}
.para1,
.para2,
.para3 {
  width: 400px;
  padding: 10px;
  box-sizing: border-box;
}
p {
  text-align: justify;
  margin: 0 10px;
}
h5 {
  text-align: center;
  padding: 10px 0;
}
.logo {
  margin-left: 5%;
  padding: 40px 20px;
  text-align: center;
}
.button {
  margin-left: 60%;
  background-color: rgb(95, 95, 95);
  text-decoration: none;
  color: white;
  font-size: 12px;
  padding: 5px;
}
.button:hover {
  background-color: black;
}
.heading {
  padding: 10px 30px;
  font-size: 100px;
  text-align: left;
  margin-bottom: 20px;
  font-family: "Didot", "Bodoni MT", "Times New Roman", serif;
  margin: 0 30px;
}
.bmw {
  width: 100%;
  height: 100%;
  align-items: auto;
}
.center {
  border-top: 2px solid black;
  border-bottom: 4px solid black;
  font-weight: bold;
  text-align: justify;
  font-size: 29px;
  margin: 20px 0;
}
.para4 {
  margin: 0 40px;
  text-align: justify;
  width: 30%;
}
.para4 h1 {
  font-family: "Didot", "Bodoni MT", "Times New Roman", serif;
  margin: 10% 0;
}
.content {
  font-size: 29px;
  width: 80%;
}
.image {
  text-align: center;
  margin-top: 10px;
}
.image > img {
  width: 50%;
}
.info a {
  text-decoration: none;
  background-color: rgb(240, 240, 240);
  display: block;
  margin: 5px 0;
  padding: 5px;
  color: #000000;
}
.info ul {
  list-style: none;
}
.info h2 {
  text-transform: uppercase;
}
.info {
  font-family: "Didot", "Bodoni MT", "Times New Roman", serif;
  border-top: 1px solid rgb(229, 231, 235);
  border-bottom: 1px solid rgb(229, 231, 235);
  margin: 10px;
  padding: 20px;
}
footer {
  background-color: #000000;
  color: #ffffff;
  padding: 0 5%;
}
.fhead h1 {
  color: #ffffff;
  font-size: 30px;
  text-align: left;
  display: inline-block;
  padding: 0 87% 0 0;
}
.fhead {
  text-align: right;
  border-bottom: 3px solid #fafafa;
}
.fnav {
  display: flex;
}
.fnav a {
  text-decoration: none;
  color: white;
  margin: 6px;
  font-size: 10px;
  text-transform: uppercase;
  margin: 0 0 8px 0;
}
.fnav ul {
  list-style: none;
  margin: 10px 100px 10px 0;
}
.copy{
  font-size: 10px;
  margin: 0 0 0 110px;
}
.subhead{
  font-weight: bold;
  padding: 10px 70px;
  
}
.subhead p{
  margin: 15px 0;
}
.writer{
  font-size: 29px;
  font-weight: bold;
  margin-bottom: 10px;
}